{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    
    <section id="header">
        <a href="{% url 'home' %}"><img class="logo" src="{% static 'images/logo.png' %}"></a>

        <div>
            <ul id="navbar">
                <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
                <li id="dropdown"><a href="">Trips
                    <i class="fa fa-chevron-down"></i>
                    <div class="dropdown-menu">
                            {% for trip in trips %}
                            <a href="{{trip.get_absolute_url}}">{{trip.title|truncatewords:3}}</a>
                            {% endfor %}
                    </div></a>
                </li>
                <li id="dropdown"><a href="{% url 'destinations' %}">Destinations</a> </li>
                <li id="dropdown"><a href="{% url 'hotel' %}">Hotels
                    <i class="fa fa-chevron-down"></i>
                    <div class="dropdown-menu">
                            {% for hotel in hotels %}
                            <a href="{{hotel.get_absolute_url}}">{{hotel.name|truncatewords:3}}</a>
                            {% endfor %}
                    </div></a>
                </li>

                {% if user.is_authenticated %}
                <li id="dropdown"><a href=""><i class="fa fa-user"></i>
                    <span>Hi, {{user.get_full_name}}</span>
                    <i class="fa fa-chevron-down"></i>
                        <div class="dropdown-menu">
                            <a href="{% url 'logout' %}">Logout</a>
                        </div></a>
                    </a>
                </li>
                {% else %}
                <li id="dropdown"><a href=""><i class="fa fa-user"></i>
                    <i class="fa fa-chevron-down"></i>
                        <div class="dropdown-menu">
                            <a href="{% url 'login' %}">Login</a>
                            <a href="{% url 'register' %}">Register</a>
                        </div></a>
                    </a>
                </li>
                {% endif %}
                <li><a href="{% url 'contact' %}">Contacts & Ratings</a></li>
                <a href="" id="close"><i class="fa fa-times"></i></a>
            </ul>
        </div>

        <div id="mobile">
            <i id="bar" class="fa fa-outdent"></i>
        </div>

    </section>

    <section id="safaris" class="section-p1 hotels">
        <h2>OUR TOP HOTELS & ACCOMODATIONS</h2>
        <div class="map">
            {{m|safe}}
        </div>
        <div class="container">
            {% for hotel in hotels %}
            <div class="safari-container">
                <a href="{{hotel.get_absolute_url}}">
                    <img src="{{hotel.hotel_photo.url}}">
                    <div class="text">
                        <h3>{{hotel.name}}</h3>
                        <p><strong>Highlights: </strong>{{hotel.description|truncatewords:20}}</p>
                        <h6><span>From: </span>Ksh {{hotel.get_price}}</h6>
                    </div>
                </a>
            </div>
            {% endfor %}           
        </div>
    </section>

    <section id="partnership" class="section-p1">
        <img src="{% static 'images/paypal.png' %}">
        <img src="{% static 'images/cocacola.png' %}">
        <img src="{% static 'images/glovo.png' %}">
        <img src="{% static 'images/KFC.png' %}">
        <img src="{% static 'images/mpesa.png' %}">
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="{% static 'images/logo.png' %}">
            <h4>Contacts</h4>
            <p><strong>Address: </strong>Vihiga,Chavakali</p>
            <p><strong>Phone: </strong>+254 7 12 345 657/+254 7 12 345 657</p>
            <p><strong>Email: </strong>furahasafaris@gmail.com</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-linkedin"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Enquiries</a>
            <a href="#">Our drivers & vehicles</a>
            <a href="#">Travelers reviews</a>
        </div>

        <div class="col">
            <h4>KENYA</h4>
            <a href="#">Amboseli </a>
            <a href="#">Lake Nakuru</a>
            <a href="#">Maasai mara</a>
            <a href="#">Samburu</a>
            <a href="#">Tsavo east & Tsavo west</a>
        </div>

        <div class="col">
            <h4>UGANDA</h4>
            <a href="#">Kampala Resort </a>
            <a href="#">Lake Victoria</a>
            <a href="#">The seven folks</a>
            <a href="#">Mbale National Park</a>
        </div>

        <div class="col">
            <h4>TANZANIA</h4>
            <a href="#">Serengeti </a>
            <a href="#">Tarangire</a>
            <a href="#">Ngorongoro</a>
            <a href="#">Lake Manyara</a>
            <a href="#">Zanzibar</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App store or Google Play</p>
            <div class="row">
                <img src="{% static 'images/googleplay.png' %}">
                <img src="{% static 'images/gooleapp.png' %}">
            </div>
            <p>Secure Payment Gateways</p>
            <img class="payment" src="{% static 'images/gateway.JPG' %}">
        </div>

        <div class="copyright">
            <p>© 2024. Vickeey etc - HTML CSS Ecommerce Template</p>
        </div>
    </footer>

    <script>
        const bar = document.getElementById('bar')
        const nav = document.getElementById('navbar')
        const close = document.getElementById('close')

        if (bar){
            bar.addEventListener('click', () => {
                nav.classList.add('active');
            })
        }

        if (close){
            close.addEventListener('click', () => {
                nav.classList.remove('active');
            })
        }
    </script>

</body>
{% endblock content %}