{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    
    <section id="header">
        <a href="{% url 'home' %}"><img class="logo" src="{% static 'images/logo.png' %}"></a>

        <div>
            <ul id="navbar">
                <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
                <li id="dropdown"><a href="">Trips
                    <i class="fa fa-chevron-down"></i>
                    <div class="dropdown-menu">
                            {% for trip in trips %}
                            <a href="{{trip.get_absolute_url}}">{{trip.title|truncatewords:3}}</a>
                            {% endfor %}
                    </div></a>
                </li>
                <li id="dropdown"><a href="{% url 'destinations' %}">Destinations</a> </li>
                <li id="dropdown"><a href="{% url 'hotel' %}">Hotels
                    <i class="fa fa-chevron-down"></i>
                    <div class="dropdown-menu">
                            {% for hotel in hotels %}
                            <a href="{{hotel.get_absolute_url}}">{{hotel.name|truncatewords:3}}</a>
                            {% endfor %}
                    </div></a>
                </li>

                {% if user.is_authenticated %}
                <li id="dropdown"><a href=""><i class="fa fa-user"></i>
                    <span>Hi, {{user.get_full_name}}</span>
                    <i class="fa fa-chevron-down"></i>
                        <div class="dropdown-menu">
                            <a href="{% url 'logout' %}">Logout</a>
                        </div></a>
                    </a>
                </li>
                {% else %}
                <li id="dropdown"><a href=""><i class="fa fa-user"></i>
                    <i class="fa fa-chevron-down"></i>
                        <div class="dropdown-menu">
                            <a href="{% url 'login' %}">Login</a>
                            <a href="{% url 'register' %}">Register</a>
                        </div></a>
                    </a>
                </li>
                {% endif %}
                <li><a href="{% url 'contact' %}">Contacts & Ratings</a></li>
                <a href="" id="close"><i class="fa fa-times"></i></a>
            </ul>
        </div>

        <div id="mobile">
            <i id="bar" class="fa fa-outdent"></i>
        </div>

    </section>

    <section id="reset_password">
        <form action="" method="POST">
            {% csrf_token %}
            <h1>Password reset</h1>
            <p>Forgotten your password? Enter your email address below, and we’ll email instructions 
            for setting a new one.</p>
            <div class="input_box">{{form}}</div>
            <button type="submit" class="btn">Submit</button><br>
        </form>
    </section>

</body>
{% endblock content %}