{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    
    <section id="header">
        <a href="{% url 'home' %}"><img class="logo" src="{% static 'images/logo.png' %}"></a>

        <div>
            <ul id="navbar">
                <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
                <li id="dropdown"><a href="{% url 'home' %}">Trips</li>
                <li id="dropdown"><a href="{% url 'destinations' %}">Destinations</a> </li>
                <li id="dropdown"><a href="{% url 'hotel' %}">Hotels</li>

                {% if user.is_authenticated %}
                <li id="dropdown"><a href=""><i class="fa fa-user"></i>
                    <span>Hi, {{user.get_full_name}}</span>
                    <i class="fa fa-chevron-down"></i>
                        <div class="dropdown-menu">
                            <a href="{% url 'logout' %}">Logout</a>
                        </div></a>
                    </a>
                </li>
                {% else %}
                <li id="dropdown"><a href=""><i class="fa fa-user"></i>
                    <i class="fa fa-chevron-down"></i>
                        <div class="dropdown-menu">
                            <a href="{% url 'login' %}">Login</a>
                            <a href="{% url 'register' %}">Register</a>
                        </div></a>
                    </a>
                </li>
                {% endif %}
                <li><a href="{% url 'contact' %}">Contacts & Ratings</a></li>
                <a href="" id="close"><i class="fa fa-times"></i></a>
            </ul>
        </div>

        <div id="mobile">
            <i id="bar" class="fa fa-outdent"></i>
        </div>

    </section>

    <section id="success">
        <h2>PAYMENT RECEIVED SUCCESSIFULL</h2>
        <div>
            <h5><i class="fa fa-check-square-o"></i>Success!!</h5>
            <h6>Thank you for your payment</h6>
        </div>
        <p>You will be contacted to get appropriate directions.</p>
    </section>

</body>
{% endblock content %}